@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

html, body {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 68%;
  max-width: 960px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.intro {
  min-height: 100vh;
  max-height: 1400px;
  width: 100%;
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__body {
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
}
.intro__title {
  text-align: center;
  padding-top: 82px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}
.intro__text {
  max-width: 570px;
  margin-left: 16%;
  margin-top: 10%;
  font-family: Roboto;
}
.intro__text h2 {
  font-size: 23px;
  line-height: 43px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #b7b7b7;
}
.intro__text h2 span {
  font-size: 63px;
  color: #fff;
}
.intro__text p {
  margin-top: -3px;
  margin-left: 6px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #b7b7b7;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}
.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}
.gallery__title h1 {
  font-size: 30px;
  line-height: 57px;
  font-weight: 300;
}
.gallery__title p {
  margin-left: 65px;
  margin-right: 37px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
.gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gallery__photos-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery__photos-block2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
  grid-template-columns: 2;
}
.gallery__photos-block2-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
  grid-template-columns: 2;
  -ms-grid-rows: 2;
  grid-template-rows: 2;
}
.gallery__photos-block2-1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gallery__photos-block2-1 :last-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: 1/2/3/2;
}
.gallery__photo-long {
  margin-left: 21px;
  position: relative;
  bottom: 133px;
}

.link {
  width: 100%;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.link__body {
  margin: 0 auto;
  width: 44%;
  padding-top: 100px;
  padding-bottom: 96px;
}
.link__body p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #b7b7b7;
  max-width: 620px;
  text-align: center;
  font-size: 13px;
}
.link__button {
  width: 174px;
  height: 38px;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.link__button a {
  margin-top: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.link__button:hover {
  background-color: #fff;
}
.link__button:hover a {
  color: black;
}

.stats__title {
  margin-top: 70px;
  margin-bottom: 68px;
}
.stats__title h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.stats__text {
  margin-bottom: 28px;
}
.stats__text h2 {
  margin-bottom: 11px;
  font-size: 30px;
  font-weight: 300;
}
.stats__text p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
.stats__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 127px;
}
.stats__block {
  height: 70px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
}
.stats__block span {
  font-size: 28px;
  line-height: 57px;
  font-weight: 400;
}
.stats__block p {
  margin-top: -15px;
  font-size: 17px;
  font-weight: 400;
}

.video {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.video__body {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 116px;
  padding-bottom: 101px;
}
.video__body p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #b7b7b7;
  text-align: center;
  font-size: 13px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 85px;
}
.video__body iframe {
  width: 780px;
  height: 440px;
}
.video__button {
  margin: 0 auto;
  width: 174px;
  height: 38px;
  border: 1px solid #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.video__button a {
  margin-top: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.video__button:hover {
  background-color: #fff;
}
.video__button:hover a {
  color: black;
}
.video__title {
  margin-top: 112px;
}
.video__title h2 {
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .intro__text {
    padding-top: 5%;
  }

  .gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__title p {
    margin-left: 30px;
    margin-right: 0px;
  }
  .gallery__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
  }
  .gallery__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gallery__photos-block1 {
    display: none;
  }
  .gallery__photo-long {
    margin-left: 21px;
    position: relative;
    bottom: 70px;
  }
}
@media screen and (max-width: 920px) {
  .intro__body {
    width: 68%;
  }
  .intro__text {
    text-align: center;
    margin: 0 auto;
    max-width: 570px;
    margin-top: 20%;
    font-family: Roboto;
  }

  .gallery {
    width: 68%;
  }
  .gallery__photo-long {
    display: none;
  }
  .gallery__photos-block2 {
    margin-bottom: 72px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
    grid-template-columns: 2;
  }
  .gallery__photos-block2-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
    grid-template-columns: 2;
    -ms-grid-rows: 2;
    grid-template-rows: 2;
  }
  .gallery__photos-block2-1 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery__photos-block2-1 :last-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: 1/2/3/2;
  }

  .link__body {
    width: 60%;
  }

  .stats__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .video__body iframe {
    width: 546px;
    height: 308px;
  }
}
@media screen and (max-width: 605px) {
  .intro__title {
    font-size: 14px;
  }
  .intro__text {
    margin-top: 50%;
  }
  .intro__text h2 {
    font-size: 18px;
  }
  .intro__text h2 span {
    font-size: 36px;
  }
  .intro__text p {
    margin-top: 5px;
    margin-left: 6px;
    font-size: 10px;
  }

  .gallery__body {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__title p {
    max-width: 340px;
    margin: 0 auto;
    width: 100%;
  }
  .gallery__photos-block2 img {
    width: 300px;
  }
  .gallery__photos-block2-1 {
    display: -ms-grid;
    display: grid;
  }
  .gallery__photos-block2-1 img:nth-child(1) {
    width: 135px;
    height: 83px;
  }
  .gallery__photos-block2-1 img:nth-child(2) {
    width: 135px;
    height: 99px;
  }
  .gallery__photos-block2-1 img:nth-child(3) {
    width: 165px;
    height: 182, 25px;
  }

  .video__body iframe {
    width: 330px;
    height: 185px;
  }
}